html, body {
    height: 100%; /*occupy the entire viewport height*/
    margin: auto;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-animation{
    margin-left: 30px;

}

article {
    display: grid;
    grid-template-columns: 1fr;
}

.greeting {
    display: flex;
    width: 100%;
    height: 100vh;
    margin-left: 10px;
    align-items: center;
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
}

.whatIdo{
    margin-left: 30px;
    font-family: 'lato', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    display: flex;
    max-width: 500px;
}

.contentGrid   {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 85vw;
    gap:40px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


p {
    margin-top: 5px;
}

.contentGrid > section {
    display: grid;
    background: white;
    max-width: 400px;
    min-height: 420px;
    margin: auto;
    box-shadow: 1px 1px 5px lightgray;
}


h2 {
    font-size: 20px;
    height: 20%;
    align-content: center;
}

.section {
    display: flex;
    flex-wrap: nowrap;
    transition: transform .4s ease;
    position: relative;
    overflow: hidden;
}

.description {
    margin: 0px 10px 2px 20px;
}

.section > * {
    transition: transform .6s ease;
}

.abstractImg {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}

.section p {
    font-size: 16px;
}

.section:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 10px lightgray
}




@media screen and (max-width: 800px) {
    article .section{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
  
    #logo {
        width: 5px;
    }
  }
